<div class="center jumbotron">
  <h3>Kids Quiz!へようこそ！</h3>

  <h4>
    「子供ってすぐに言葉を覚えるけど、すぐに忘れてしまう・・・。」</br>
    と思ったことはありませんか？</br>
    このサイトを使えば、自分の子供に合わせてクイズを作り、</br>
    楽しく日本語を覚えることができます。
  </h4>

  <%= link_to "詳しく見てみる", '#', class: "btn btn-lg btn-primary" %>
</div>
